<form (ngSubmit)="onSubmit()" [formGroup]="frmGroup">
    <input type="text" placeholder="email" #txtEmail formControlName="email">
    <div *ngIf="frmGroup.get('email').errors?.required && frmGroup.get('email').touched">Email is required</div>
    <div *ngIf="frmGroup.get('email').errors?.email && frmGroup.get('email').touched">Email is invalid</div>
    <br><br>
    <input type="password" placeholder="password" formControlName="password">
    <br><br>
    <div formGroupName="subjects">
        <label for=""><input type="checkbox" formControlName="nodejs">Nodejs</label>
        <label for=""><input type="checkbox" formControlName="angular">Angular</label>
        <label for=""><input type="checkbox" formControlName="reactjs">Reactjs</label>
    </div>
    <br><br>
    <button [disabled]="frmGroup.invalid">Submit</button>
    {{ frmGroup.controls.email.errors | json }}
</form>